<div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About {{user.username}}</h4>
    <h5><strong>FullName: </strong>{{user.profile.full_name}}</h5>
    {% if user.profile.avatar %}
        <img src="{{user.profile.avatar.url}}" class="img-fluid img-thumbnail" width="200px" alt="">
    {% endif %}
    <p class="mb-0">
        <strong class="text-success">bio:</strong> {{user.profile.bio}}
    </p>
    {% ifequal user request.user %}
        <a href="{% url 'profile_update' user.profile.pk %}" class="btn btn-outline-info btn-sm mt-2">Edit Profile</a>
    {% endifequal %}
</div>
<div class="p-3">
    <h4 class="font-italic">Get in touch with {{ user.username }}</h4>
    <ol class="list-unstyled">
        <li><a href="{{ user.profile.github }}">GitHub</a></li>
        <li><a href="{{ user.profile.twitter }}">Twitter</a></li>
        <li><a href="{{ user.profile.facebook }}">Facebook</a></li>
    </ol>
</div>
<div class="p-3 mb-2">
    <h4 class="font-italic">{{ user.username|title }}'s Archives</h4>
    <ol class="list-unstyled mb-0">
        <li><a href="#">March 2019</a></li>
        <li><a href="#">February 2019</a></li>
        <li><a href="#">January 2019</a></li>
    </ol>
</div>
<br>